:root {
  --font-family: "Poppins", sans-serif;
  --font-clr1: #20262e;
  --font-clr2: #e0ddca;
  --font-clr3: #3eb67e;
  --bg-clr: #faf9f9;
  --clr-opp: #fefefe;
  --font-clr5:#5272F2;
}



/*----------width_1200px--------------*/
@media (max-width: 1200px) {
/*----------header-section--------------*/
  nav {
    padding: 0px 50px;
  }
  .hero {
    padding: 0px 100px;
  }
  .wave {
  	bottom: -20px;
  }
  /*----------about-section--------------*/
  .about_wrap {
    height:100vh;
  }

  /*----------skill-section--------------*/
  .skill_wrap .skill_row {
    width: 80%;
    gap: 20px;
    justify-content: center;
  }
  #skill_section .skill_row2{
  	width: 97%;
  	height: 275px;
  }

  /*----------project-section--------------*/
  #project_section{
  	margin-bottom: -50px;
  }
  .project1,
  .project{
  	justify-content: space-between;
  }
  .box_proj_img,
  .box_proj_info{
	width:50%;
  }
  /*----------contact-section--------------*/
  #contact_section{
    padding: 75px 50px;
  }
}



/*----------width_1001px--------------*/
@media (max-width: 1000px) {
/*----------header-section--------------*/
  nav {
    padding: 0px 30px;
  }
  .hero {
    padding: 0px 50px;
    gap: 2%;
  }
  .hero_left {
  	width: 40%;
  }
  .hero_left img {
	  width: 98%;
  	height: 490px;
  }
  #visual {
  	left:40%;
  	top: 37%;
  }
  .hero_right{
  	width: 50%;
  	z-index: 300;
    margin-left: -100px;
  }
  .hero_right h1 {
    font-size: 4.3rem;
    margin-bottom: -30px;
  }
  .hero_right h2 {
    font-size: 4.3rem;
  }
  .hero_right h3 {
    font-size: .9rem;
    width: 100%;
  }
  .home_social_links{
  	margin-top: 5px;
  }
  .home_social_links a {
    font-size: 1.3rem;
  }
  .wave {
  	bottom: -40px;
  }
  .tech_stack{
  	gap: 10px;
  	margin-top: 10px;
  }
  .tech_stack h4{
  	font-size: 0.9rem;
  	padding-right: 10px;
  }
  .lang_logo img {
  	width: 30px;
  	height: 30px;
  }

  /*----------about-section--------------*/
  #about_section {
    margin-bottom: -30px;
  }
  .about_left_section h4 {
  	font-size: 3.5rem;
  }
  .about_wrap {
    padding: 0pc 50px;
  }


  /*----------skill-section--------------*/
  #skill_section .skill_row2{
  	width: 100%;
  	height: auto;
  }

  /*----------project-section--------------*/
  .project1,
  .project{
  	flex-direction: column;
  }
  .box_proj_img,
  .box_proj_info{
	width:90%;
  }

/*----------contact-section--------------*/
  #contact_section {
    padding: 80px 20px;
  }
  #contact_section .contact_box{
    height:200px;
  }
  .contact_box h4{
    font-size:15px;
  }
  .contact_box h5{
    font-size: 12px;
  }
}



/*----------width_701px--------------*/
@media (max-width: 800px) {
/*----------header-section--------------*/
  body {
    overflow-x: hidden;
  }
  .logo {
    margin-top: 0px;
  }
  .menu_btn {
    display: block;
  }
  .menu_btn div {
    width: 30px;
    height: 4px;
    margin: 5px;
    border: none;
    border-radius: 1.5px;
    box-sizing: border-box;
  }
  nav{
  	height: 60px;
  }
  .navar {
    box-sizing: border-box;
    padding: 30px 0px;
    display: fixed;
    flex-direction: column;
    justify-content: space-arround;
    position: absolute;
    transform: translateX(102%);
    transition: 0.3s ease-in;
    top: 40px;
    right: 0px;
    width: 80%;
    height: 90vh;
    text-align: center;
    z-index: 2000;
    background-color: var(--clr-opp);
  }
  .navar li a {
	font-size: 1.2rem;
  }
  /*-------heroSection--------*/
  .hero{
    flex-direction:column-reverse;
    gap: 20px;
  }
  .hero_right{
    width: 80%;
    margin-left: 0px;
    text-align:center;
  }
  .hero_left{
    width: 60%;
  }
  .wave {
  	bottom: -60px;
  }
  #visual {
    width: 180%;
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .hero_right h1 {
    font-size: 3.7rem;
  }
  .hero_right h2 {
    font-size: 3.7rem;
  }
  .hero_right h2::before{
    display: none;
  }
  .hero_right h3 {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
  .hero_right h3 img {
    width: 15px;
    height: 15px;
  }

  .home_social_links {
    height:30%;
    top:40%;
  }
  

 /*----------about-section--------------*/
  #about_section {
    margin-bottom: -140px;
  }
  .about_wrap {
    flex-direction: column;
    top: 43%;
    padding: 0px 50px;
  }
  #about_section .about_right_section img {
    display: none;
  }

 /*----------skill-section--------------*/
  #skill_section h1{
  	font-size: 3rem;
  }
  #skill_section .skill_row2{
  	width: 100%;
  	flex-direction: column;
  	gap: 30px;
  }
  .skill_row2 .row-2{
  	width: 100%;
  }

  /*----------project-section--------------*/
  #project_section{
  	padding: 40px 20px 40px 20px;
  	margin-bottom: 0px;
  }

  #project_section h1{
  	width: 100%;
  	font-size: 4rem;
  	text-align: center;
  	margin-bottom: 20px;
  }
  .project_wrap_section{
  	padding: 0;
  }
  .box_proj_img,
  .box_proj_info{
	width:90%;
	padding: 0;
  }
  .box_proj_img .pc_view{
  	width: 100%;
  }
  .box_proj_img .cp_view{
  	display: none;
  }

  /*----------project-section--------------*/
  .contact_top_section{
    flex-direction:column;
    height:auto;
    gap: 20px;
    justify-content:center;
    align-items:center;
  }
  #contact_section .contact_box{
    width: 250px;
    height:250px;
    text-align:center;
  }
  .contact_box h4{
    font-size:20px;
  }
  .contact_box h5{
    font-size:15px;
  }

  .contact_buttom_section{
     height:auto;
  }
  #contact_section .left_contact_info{
    width: 100%;
    height:500px;
  }
  #contact_section .right_contact_info{
    width: 100%;
    height:500px;
  }





}






@media (max-width: 401px) {
 /*----------header-section--------------*/
  .hero_right h1 {
    font-size: 3.5rem;
  }
 /*----------about-section--------------*/
  #about_section{
  	margin-bottom: -50px;
  }
  .about_wrap {
  	top: 45%;
  }
  .about_left_section h4{
  	font-size: 3rem;
  }

  /*----------skill-section--------------*/
  #skill_section {
    height: 170vh;
    padding: 0px 0px;
  }
  .skill_wrap .skill_row{
  	width: 100%;
  }

  /*----------project-section--------------*/
  #project_section h1{
  	width: 100%;
  	font-size: 3.5rem;
  	text-align: center;
  	margin-bottom: 20px;
  }


 /*----------contact-section--------------*/
  #contact_section {
   height: 120vh;
   padding: 50px 20px;
  }
  #contact_section h2 {
  	font-size: 3rem;
  }
  .contactsection_wrap{
  	flex-direction: column;
  	top: 54%;
  	padding: 20px;
  	gap: 80px;
  }
  .left_contact_info{
  	width: 100%;
  }

  #contact_section .right_contact_info{
  	width: 100%;
  }
  /*----------footer-section--------------*/
  .footer p {
    font-size: 0.5rem;
  }
}






/*-------------showNav------------*/
.showNav {
  transform: translateX(0%);
  z-index: 2000;
}

/*-------------nav_fade-----------*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
